$pctablet: 1000px;
$tablet: 640px;
$phone: 320px;

.header {
	padding: 24px 0;
	color: black;
	font-weight: 700;
	font-size: 48px;
	width: 100vw;
}

.header__container {
	display: flex;
	align-items: center;

	@media (max-width: $pctablet) {
		justify-content: space-between;
		padding: 3px 0px;
	}
}


.header__image {
	width: 82px;
	height: 70px;
	transform: rotate(-30deg);
}

.header__design {
	text-align: right;
}